.facts {
  max-width: $max-width;
  margin: 0 auto;
  padding: 125px 0 125px 15px;
}

.facts h2 {
  @include font-size(30px, 30px);
  font-weight: 600;
  text-align: center;
  margin-left: 20px;
}

.facts__list {
  @include clear-list;
  margin-top: 50px;
  counter-reset: item;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.facts__list li {
  @include font-size(22px, 34px);
  font-weight: 400;
  letter-spacing: -0.5px;
  text-align: center;

  max-width: 250px;
  margin-bottom: 30px;
  margin-right: auto;

  &:last-of-type {
    margin-right: unset;
  }

  counter-increment: item;

  &::before {
    @include font-size(28px, 38px);
    content: "0" counter(item);
    color: $turquoise;
    font-weight: 600;
    letter-spacing: -1.27px;
    text-align: center;

    display: block;
    margin-bottom: 15px;
  }
}

@media (max-width: $desktop-width) {
  .facts {
    max-width: 540px;
    padding: 52px 0 23px;
  }

  .facts h2 {
    @include font-size(24px, 41px);
    margin-left: 0;
  }

  .facts__list {
    margin-top: 30px;
  }

  .facts__list li {
    margin-bottom: 45px;
  }
}

@media (max-width: $tablet-width) {
  .facts__list {
    flex-direction: column;
  }

  .facts__list li {
    @include font-size(18px, 34px);
    margin: 0 auto;
    margin-bottom: 34px;
    max-width: 290px;

    &::before {
      margin-bottom: 12px;
    }

    &:nth-child(2n) {
      margin-bottom: 60px;
    }

    &:nth-child(3n) {
      margin-bottom: 60px;
    }

    &:nth-child(2n)::before {
      margin-bottom: 5px;
    }

    &:last-of-type {
      margin: 0 auto;
    }
  }
}
