.feedback {
  max-width: 330px;

  position: absolute;
  top: 308px;
  right: 260px;
}

.feedback p {
  @include font-size(17px, 28px);
  letter-spacing: -0.005em;
  font-weight: 600;
  text-align: center;
  color: $white;

  opacity: 1;
}

.feedback br {
  display: none;
}

.feedback input {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding-left: 30px;
  margin-bottom: 20px;

  border: 1px solid $light-grey;
  border-radius: $corner-radius;

  &::placeholder {
    @include font-size(15px, 24px);
    color: $dark-grey;
    opacity: 0.5;
  }
}

.feedback button[type="submit"] {
  @include font-size(15px, 21px);
  color: $black;
  text-align: center;
  font-weight: 600;

  box-sizing: border-box;
  padding: 0;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: $corner-radius;
  background-color: $turquoise;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 9px 1px rgba(252, 252, 252, 0.38);
  }
}

@media (max-width: $desktop-width) {
  .feedback {
    position: static;
    margin: 70px auto 0;
  }

  .feedback p {
    font-size: 18px;
    color: $black;
    margin-bottom: 27px;
  }

  .feedback br {
    display: inline;
  }
}

@media (max-width: $tablet-width) {
  .feedback br {
    display: none;
  }

  .feedback {
    padding: 0 15px;
    margin-top: 69px;
  }

  .feedback p {
    letter-spacing: -0.2px;
    margin-bottom: 19px;
  }
}
