.types {
  background-color: $grey-bg;
  padding: 122px 5px 124px;
  overflow: hidden;
}

.types h2 {
  @include font-size(30px, 30px);
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.2px;
  margin-left: 6px;
}


.types__wrapper {
  max-width: $max-width;
  margin: 0 auto;
}

.types__list {
  @include clear-list;
  @include font-size(22px, 34px);
  font-weight: 600;
  letter-spacing: -0.5px;

  padding-left: 20px;
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.types__item img {
  display: block;
  position: relative;
  z-index: 2;
}

.types__item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  margin-right: 50px;
  position: relative;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &--circle-under {
    padding-top: 10px;

    &::after {
      content: "";
      width: 100px;
      height: 116px;
      border: 27px solid $turquoise;
      border-radius: 50%;

      position: absolute;
      top: 153px;
      left: -60px;
      z-index: 1;
      margin-top: 9px;
    }
  }

  &--squares {
    padding-top: 38px;

    &::before,
    &::after {
      content: "";
      width: 31px;
      height: 31px;
      border: 8px solid $turquoise;

      position: absolute;
      top: 19px;
      left: -19px;
      z-index: 3;
    }

    &::after {
      top: unset;
      left: unset;
      bottom: 55px;
      right: -23px;
    }
  }

  &--circle-upper {
    &::after {
      content: "";
      width: 60px;
      height: 60px;
      border: 18px solid $turquoise;
      border-radius: 50%;

      position: absolute;
      top: -34px;
      right: -38px;
      z-index: 3;
    }
  }
}

.types__item p {
  position: relative;
  z-index: 2;
}

@media (max-width: $desktop-width) {
  .types {
    padding: 30px 5px 30px;
  }

  .types h2 {
    @include font-size(24px, 41px);
    margin-left: 0;
  }

  .types__list {
    margin-top: 30px;
    padding-left: 25px;
  }

  .types__item img {
    width: 270px;
    height: 300px;
  }

  .types__item {
    margin-bottom: 20px;

    &:nth-child(3n) {
      margin-right: 50px;
      margin-top: 5px;
    }

    &--circle-under {
      margin-top: 0;
      padding-top: 0;

      &::after {
        width: 89px;
        height: 91px;
        border-width: 19px;

        top: 190px;
        left: -38px;
      }
    }

    &--squares {
      padding: 0;

      &::before,
      &::after {
        display: none;
      }
    }

    &--circle-upper {
      &::after {
        width: 40px;
        height: 40px;
        border-width: 15px;
        top: -21px;
        right: -26px;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .types {
    padding-top: 90px;
    padding-bottom: 30px;
  }

  .types__list {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .types__item {
    margin: 0 auto;
    margin-bottom: 17px;

    &--circle-under {
      &::after {
        left: -23px;
      }
    }

    &--circle-upper {
      &::after {
        top: -20px;
        right: -16px;
      }
    }

    &:nth-child(3n) {
      margin: 0 auto;
    }
  }
}
