.video {
  padding-top: 97px;
  background-color: $light-black;

  overflow: visible;
}

.video__inner {
  max-width: $max-width;
  margin: 0 auto;
  min-height: 585px;
  position: relative;
}

.video h2 {
  @include font-size(30px, 30px);
  font-weight: 600;
  letter-spacing: -0.005em;
  color: $white;
  text-align: center;

  margin-left: 5px;
  margin-bottom: 19px;
}

.video p {
  @include font-size(16px, 28px);
  font-weight: 300;
  letter-spacing: -0.005em;
  color: $white;
  text-align: center;

  max-width: 350px;
  margin: 0 auto;
  opacity: 0.7;
  padding-left: 19px;
}

.video__player {
  position: absolute;
  bottom: -100px;
  left: 51%;
  transform: translateX(-50%);
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.video__play svg{
  &:hover {
    stroke-width: 1px;
    stroke: $white;
  }
}

@media (max-width: $desktop-width) {
  .video {
    padding-top: 47px;
  }

  .video p {
    max-width: 430px;
    padding-left: 0;
  }

  .video__player {
    bottom: -90px;
    left: 50%;
  }

  .video__player img {
    width: 503px;
    height: 282px;
  }

  .video__play svg {
    width: 90px;
    height: 90px;
  }

  .video__inner {
    min-height: 342px;
  }

  .video__inner h2 {
    @include font-size(24px, 30px);
  }
}

@media (max-width: $tablet-width) {
  .video__player img {
    width: 288px;
    height: 161px;
  }
}

@media (max-width: $tablet-width) {
  .video {
    padding-top: 65px;
  }

  .video h2 {
    margin-left: -12px;
  }

  .video p {
    max-width: 310px;
  }

  .video__inner {
    min-height: 300px;
  }

  .video__player {
    bottom: -50px;
  }

  .video__play svg {
    width: 65px;
    height: 65px;
  }
}
