$corner-radius: 5px;

$desktop-width: 1024px;
$tablet-width: 767px;
$mobile-width: 320px;
$max-width: 1150px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* --- colors --- */

$white: #ffffff;
$white-transp: rgba(255, 255, 255, 0.2);
$light-grey: #c9ccd4;
$grey: #f6f6f6;
$grey-bg: #f6f7f9;
$dark-grey: #1c1c1c;
$dark-grey-two: #1f1f1f;
$black: #000000;
$light-black: #131314;
$black-transp: rgba(0, 0, 0, 0.7);
$black-transp-two: rgba(0, 0, 0, 0.5);
$turquoise: #0ad9c6;
$text: #48494d;
